In [1]:
import pandas as pd

# READING DATA

In [2]:
df = pd.read_csv("data.csv")

In [3]:
df.tail()

           fever  bodyPain  age  runnyNode  diffBreath  infectionProb
2578   98.608530         0    3          0           0              1
2579   98.021098         1   47          0          -1              0
2580  100.090634         1   25          1           1              1
2581  100.062633         1   94          0           0              0
2582  101.677817         0   61          0           1              0

In [4]:
df.isnull().sum()

fever            0
bodyPain         0
age              0
runnyNode        0
diffBreath       0
infectionProb    0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2583 entries, 0 to 2582
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fever          2583 non-null   float64
 1   bodyPain       2583 non-null   int64
 2   age            2583 non-null   int64
 3   runnyNode      2583 non-null   int64
 4   diffBreath     2583 non-null   int64
 5   infectionProb  2583 non-null   int64
dtypes: float64(1), int64(5)
memory usage: 121.2 KB

In [6]:
df.describe()

,fever,bodyPain,age,runnyNode,diffBreath,infectionProb
count,2583.000000,2583.000000,2583.000000,2583.000000,2583.000000,2583.000000
mean,99.987020,0.497871,50.178087,0.499419,0.011227,0.514518
std,1.175958,0.500092,29.329521,0.500096,0.820599,0.499886
min,98.001619,0.000000,1.000000,0.000000,-1.000000,0.000000
25%,98.974815,0.000000,24.000000,0.000000,-1.000000,0.000000
50%,99.994587,0.000000,50.000000,0.000000,0.000000,1.000000
75%,101.008737,1.000000,76.000000,1.000000,1.000000,1.000000
max,101.999967,1.000000,100.000000,1.000000,1.000000,1.000000

# Train and test

In [7]:
X = df.drop('infectionProb',axis=1)
y= df['infectionProb']

In [8]:
X.head()

        fever  bodyPain  age  runnyNode  diffBreath
0  101.429935         0   69          0           1
1   99.741901         0   32          0           1
2  101.702161         0   11          0           0
3  101.700006         0   30          0           0
4   99.382535         0   33          0           0

In [9]:
y.head()

0    1
1    1
2    1
3    0
4    0
Name: infectionProb, dtype: int64

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=51)

# ML Modeling

In [11]:
from sklearn.neighbors import KNeighborsClassifier  
classifier = KNeighborsClassifier(n_neighbors=5)
classifier.fit(X_train, y_train)
classifier.score(X_test,y_test)

0.5299806576402321

In [12]:
features=[100,1,20,-1,1]
inf_prob = classifier.predict_proba([features])[0][1]
inf_prob

0.6

# model saving

In [13]:
import joblib

In [14]:
joblib.dump(classifier,'model.pkl')

['model.pkl']

array([1], dtype=int64)